extends _template.pug

block title
	| Chisel Test

block vars
	- var bodyClass = ''
	- var description = ''

block content


	nav
		ul
			li
				a(href="#") Home
			li
				a(href="#") Test
				ul.dropdown
					li
						a(href="#") Dropdown 1
					li
						a(href="#") Dropdown 2
					li
						a(href="#") Dropdown 3
			li
				a(href="#") Another Test


	.row
		.col
			form(data-validate)
				.name-field
					label Your name 
						small required
						input(type="text" required pattern="[a-zA-Z]+")
				.email-field
					label Email 
						small required
						input(type="email" required)
				button(type="submit") Submit


	.row
		.col.m-6.l-3 Test 1<br />Test 1
		.col.m-6.l-3 Test 2
		.clr-m
		.col.m-6.l-3 Test 3
		.col.m-6.l-3(data-modal="modalId" data-carousel="slide2") Show Modal

	br
	br
	br


	.table.s-1.m-3.l-4.row#productList
		- var n = 1
		while n <= 8
			- n++
			.cell
				img.prod.lazyImg(src="http://placehold.it/350x350")

	#listEnd.load







	#modalId.modal.fixed
		.box
			.x
			.content
				.carousel.fade.gallery
					#slide1.active
						img(data-src='http://placehold.it/350x350')
					#slide2
						img(data-src='http://placehold.it/150x350')
					#slide3
						img(data-src="http://placehold.it/350x150")
					.previous
					.next
					.buttons
						a.active(data-carousel="slide1")
						a(data-carousel="slide2")
						a(data-carousel="slide3")

							
