extends _template.pug

block title
	| Chisel Test

block vars
	- var bodyClass = ''
	- var description = ''

block content


	nav
		.ham.hide-l(data-toggle="#mainNav")
			span
				span
		#mainNav.nav.acc.m-ver.l-acc.hide.show-l
			ul
				li
					a(href="#") Home
				li
					a(href="#") Test
					ul
						li
							a(href="#") Dropdown 1
						li
							a(href="#") Has Dropdown
							ul
								li
									a(href='#') Sub 1
								li
									a(href='#') Sub 2
								li
									a(href='#') Sub 3
						li
							a(href="#") Dropdown 3
				li
					a(href="#") Another Test
					ul
						li
							a(href="#") Dropdown 1
						li
							a(href="#") Has Dropdown
							ul
								li
									a(href='#') Sub 1
								li
									a(href='#') Sub 2
								li
									a(href='#') Sub 3
						li
							a(href="#") Dropdown 3



	.row
		.col
			form(data-validate)
				.name-field
					label Your name 
						small required
						input(type="text" required pattern="[a-zA-Z]+")
				.email-field
					label Email 
						small required
						input(type="email" required)
				.select-field
					label Select
						small required
						select(name='select' required)
							option(value='1') One
							option(value='2') Two
							option(value='3') Three
				button(type="submit") Submit


	.row
		.col.m-6.l-3 Test 1<br />Test 1
		.col.m-6.l-3 Test 2
		.clr-m
		.col.m-6.l-3 Test 3
		.col.m-6.l-3(data-modal="modalId") Show Modal

	br
	br
	br


	.table.s-1.m-3.l-4.row#productList
		- var n = 1
		while n <= 8
			- n++
			.cell
				img.prod.lazyImg(src="http://placehold.it/350x350")

	#listEnd.load







	#modalId.modal
		.box
			.x
			.content
				img(data-lazy="http://placehold.it/350x350")

							
