// FORM ELEMENTS

// Button
.#{$button},
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
	background-color: $button-background-color;
	border: $button-border;
	padding: $button-padding;
	cursor: pointer;
	margin-bottom: $button-margin-bottom;
	transition: $button-transition;
	&:hover{
		background-color: $button-hover-color;
	}
	&:focus{
		outline: none;
		background-color: $button-focus-background-color;
		border: $button-focus-border;
	}
}



// Input
input:not([type]),
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	background-color: $input-background-color;
	border: $input-border;
	box-shadow: $input-box-shadow;
	color: $input-text-color;
	display: block;
	font-family: inherit;
	font-size: $input-font-size;
	height: $input-height;
	margin: $input-margin;
	padding: $input-padding;
	width: $input-width;
	box-sizing: border-box;
	transition: $input-transition;
	&:focus{
		background-color: $input-focus-background-color;
		border-color: $input-focus-border-color;
		outline: none;
	}
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea{
	max-width: 100%;
	height: auto;
	min-height: 50px;
}

// Select
select{
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: $select-background-color;
	background-image: $select-background-image;
	border-radius: $select-border-radius;
	background-position: 100% center;
	background-repeat: no-repeat;
	border: $select-border;
	color: $select-font-color;
	font-family: inherit;
	font-size: $select-font-size;
	line-height: normal;
	padding: $select-padding;
	height: $select-height;
	margin: $select-margin;
	&:focus{
		background-color: $select-focus-background-color;
		border-color: $select-focus-border-color;
		outline: none;
	}
}


// Labels
label{
	color: $label-font-color;
	cursor: pointer;
	display: $label-display;
	font-size: $label-font-size;
	font-weight: normal;
	line-height: $label-line-height;
	margin: $label-margin;
}
input[type="checkbox"] + label, input[type="radio"] + label{
	display: $label-radio-display;
	margin: $label-radio-margin;
}


// Checkbox & Radio
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	vertical-align: baseline;
}
input[type="file"], input[type="checkbox"], input[type="radio"], select{
	margin: $radio-margin;
}



























