.#{$loading-solid-spinner}{
	position: relative;
}
.#{$loading-solid-spinner}:after{
	content: " ";
	display: block;
	//margin: 60px auto;
	font-size: $loading-size;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	border-radius: 50%;
	width: 10em;
	height: 10em;

	text-indent: -9999em;
	border-top: $loading-thickness solid $loading-secondary-color;
	border-right: $loading-thickness solid $loading-secondary-color;
	border-bottom: $loading-thickness solid $loading-secondary-color;
	border-left: $loading-thickness solid $loading-primary-color;

	animation: unquote($loading-solid-spinner) $loading-speed infinite linear;

	// Needed to correct iOS bug where transform:translate doesn't update on animation repaints
	animation-delay: .1s;
}


@keyframes #{$loading-solid-spinner} {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}