
// COLORS
$primary: #2199e8 !default;
$secondary: #777 !default;
$black: #0a0a0a !default;
$white: #fefefe !default;

$link-color: $primary !default;
$link-hover-color: $secondary !default;
$link-transition: color .3s;

// RESPONSIVE SETTINGS
$medium-breakpoint: 640px !default;
$large-breakpoint: 1280px !default;
$small: 's' !default;
$medium: 'm' !default;
$large: 'l' !default;
$divider: '-' !default;
$up: 'u' !default;
$down: 'd' !default;

// GRID SETTINGS
$cols: 12 !default;
$gutter-size: 0 10px !default;
$container-width: $large-breakpoint !default;
$row: 'row' !default;
$column: 'col' !default;
$collapse: 'collapse' !default;

// TABLE GRID
$table-cell-gutter: 0 10px 20px 10px !default;
$table: 'table' !default;
$table-cell: 'cell' !default;
$table-collapse: 'collapse' !default;

// PUSH/PULL CLASSES
$push: 'push' !default;
$pull: 'pull' !default;

// UTILITY CLASSES
$clear-fix: 'clr' !default;
$hide: 'hide' !default;
$show: 'show' !default;
$text-align-right: 'tr' !default;
$text-align-left: 'tl' !default;
$text-align-center: 'tc' !default;
$bold: 'b' !default;
$float-right: 'fr' !default;
$float-left: 'fl' !default;

// FORMS
// Buttons
$button: 'btn' !default;
$button-background-color: $white !default;
$button-border: 1px solid #ccc !default;
$button-padding: 8px 12px !default;
$button-margin-bottom: 20px !default;
$button-transition: background-color .3s !default;
$button-hover-color: #eee !default;
$button-focus-background-color: #fafafa !default;
$button-focus-border: 1px solid #999 !default;
// Input
$input-background-color: $white !default;
$input-border: 1px solid #ccc !default;
$input-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !default;
$input-text-color: #444 !default;
$input-height: 2.05556rem !default;
$input-font-size: 0.77778rem !default;
$input-margin: 0 0 0.88889rem 0 !default;
$input-padding: 0.44444rem !default;
$input-width: 100% !default;
$input-transition: border-color 0.15s linear, background 0.15s linear !default;
$input-focus-background-color: #fafafa !default;
$input-focus-border-color: #999 !default;
// Select
$select-background-color: #fafafa !default;
$select-background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+") !default;
$select-border: 1px solid #ccc !default;
$select-border-radius: 0 !default;
$select-font-color: #444 !default;
$select-font-size: 0.77778rem !default;
$select-padding: 0.44444rem !default;
$select-height: 2.05556rem !default;
$select-margin: 0 0 0.88889rem 0 !default;
$select-focus-background-color: #f3f3f3 !default;
$select-focus-border-color: #999 !default;
// Label
$label-display: 0 0 0 0 !default;
$label-font-color: #4d4d4d !default;
$label-font-size: 0.77778rem !default;
$label-line-height: 1.5 !default;
$label-margin: 0 0 0 0 !default;
$label-radio-display: inline-block !default;
$label-radio-margin: 0 0.44444rem 0 0.88889rem !default;
// Radio/checkbox/file input
$radio-margin: 0 0 0.88889rem 0 !default;

// NAVIGATION
// Warning: Default classes are referenced in navigation.js as well
$navigation-horizontal: 'hor' !default;
$navigation-vertical: 'ver' !default;
$navigation-accordion: 'acc' !default;
$navigation-dropdown: 'drop' !default;
$navigation-open: 'open' !default;

// HAMBURGER ICON
// Warning: Default classes are referenced in navigation.js as well
$hamburger: 'ham' !default;
$hamburger-active: 'active' !default;
// Can be: none, slide, squeeze, arrow, arrowAlt, spin, elastic, emphatic, collapse, vortex, stand, spring, 3dx, 3dy
$hamburger-animation: 'squeeze' !default;
$hamburger-padding: 15px !default;
$hamburger-width: 40px !default;
$hamburger-line-height: 4px !default;
$hamburger-line-spacing: 6px !default;
$hamburger-color: #000 !default;
$hamburger-border-radius: 0 !default;

// LOADING ANIMATIONS
$loading-solid-spinner: 'load' !default;
$loading-primary-color: #000 !default;
$loading-secondary-color: rgba(0, 0, 0, 0.2) !default;
$loading-thickness: 1.5em !default;
$loading-size: 4px !default;
$loading-speed: .9s !default;

// ANIMATION VARIABLES
$fade-speed: .3s !default;

// VIDEO
$video: 'video' !default;
$video-ratio: 16 by 9 !default;
$video-ratio-standard: 4 by 3 !default;
$video-margin-bottom: 20px !default;

// MODAL
$modal-background: rgba(0, 0, 0, .5) !default;
$modal-box-padding: 30px !default;
$modal-fixed-width: 800px !default;
$modal-content-max-height: 75vh !default;
$modal-x-font: Arial !default;
$modal-x-content: unicode('00d7') !default;
$modal-x-size: 1.7em !default;
$modal-x-top: 8px !default;
$modal-x-right: 13px !default;
$modal-x-bottom-margin: 10px !default;
$modal-button-margin: 12px 5px 0 5px !default;
$modal-button-width: 75px !default;
$modal-max-width: 800px !default;
$modal-animation-speed: .3s !default;
$modal-animation-easing: ease !default;
$modal-z-index: 999 !default;
// Warning: Default classes are referenced in modal.js as well
$modal: 'modal' !default;
$modal-box: 'box' !default;
$modal-fixed: 'fixed' !default;
$modal-content: 'content' !default;
$modal-x: 'x' !default;
$modal-x-padding: 5px !default;
$modal-confirm: 'confirm' !default;
$modal-deny: 'deny' !default;
$modal-animate: 'animate' !default;
$modal-animate-in: 'animateIn' !default;

// CAROUSEL
$carousel-height: 600px !default;
$carousel-padding: 10px !default;
$carousel-gallery-padding: 30px !default;
$carousel-next-content: unicode('203a') !default;
$carousel-previous-content: unicode('2039') !default;
$carousel-previous-next-font: Arial !default;
$carousel-previous-next-size: 3em !default;
$carousel-buttons-transition: opacity .3s !default;
$carousel-button-size: 20px !default;
$carousel-button-border-radius: 100% !default;
$carousel-button-border: 2px solid #000 !default;
$carousel-button-margin: 0 8px !default;
$carousel-button-color: $white !default;
$carousel-button-transition: background-color .3s !default;
$carousel-active-button-color: #000 !default;
$carousel-button-line-height: 1em !default;
$carousel-fade-speed: .3s !default;
// Warning: Default classes are referenced in carousel.js as well
$carousel: 'carousel' !default;
$carousel-previous-slide: 'last' !default;
$carousel-previous: 'previous' !default;
$carousel-next: 'next' !default;
$carousel-buttons: 'buttons' !default;
$carousel-active: 'active' !default;
$carousel-fade: 'fade' !default;
$carousel-gallery: 'gallery' !default;

// MEDIA QUERY VARIABLES
$small-only: unquote('screen and (max-width: #{$medium-breakpoint})') !default;
$small-up: screen !default;
$medium-only: unquote('screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint})') !default;
$medium-up: unquote('screen and (min-width: #{$medium-breakpoint})') !default;
$medium-down: unquote('screen and (max-width: #{$large-breakpoint})') !default;
$large-only: unquote('screen and (min-width: #{$large-breakpoint})') !default;
$large-up: $large-only !default;
$large-down: screen !default;










