// UTILITY

// Show/hide
.#{$hide}{
	display: none;
}
.#{$show}{
	display: block;
}

// Text align
.#{$text-align-right}{
	text-align: right;
}
.#{$text-align-center}{
	text-align: center;
}
.#{$text-align-left}{
	text-align: left;
}

// Typography
.#{$bold}{
	font-weight: bold;
}

// Float, clearfix
.#{$float-right}{
	float: right;
}
.#{$float-left}{
	float: left;
}
.#{$clear-fix}, .#{$small}#{$divider}#{$clear-fix}, .#{$small}#{$divider}#{$up}#{$divider}#{$clear-fix}{
	clear: both;
}

@mixin utility-medium(){
	// Show/hide
	.#{$medium}#{$divider}#{$hide}{
		display: none;
	}
	.#{$medium}#{$divider}#{$show}{
		display: block;
	}

	// Text align
	.#{$medium}#{$divider}#{$text-align-right}{
		text-align: right;
	}
	.#{$medium}#{$divider}#{$text-align-center}{
		text-align: center;
	}
	.#{$medium}#{$divider}#{$text-align-left}{
		text-align: left;
	}


	// Clear fixes
	.#{$medium}#{$divider}#{$clear-fix}, .#{$medium}#{$divider}#{$up}#{$divider}#{$clear-fix}{
		clear: both;
	}
	.#{$small}#{$divider}#{$clear-fix}{
		clear: none;
	}
}
@mixin utility-large(){
	// Show/hide
	.#{$large}#{$divider}#{$hide}{
		display: none;
	}
	.#{$large}#{$divider}#{$show}{
		display: block;
	}

	// Text align
	.#{$large}#{$divider}#{$text-align-right}{
		text-align: right;
	}
	.#{$large}#{$divider}#{$text-align-center}{
		text-align: center;
	}
	.#{$large}#{$divider}#{$text-align-left}{
		text-align: left;
	}


	// Clear fixes
	.#{$large}#{$divider}#{$clear-fix}, .#{$large}#{$divider}#{$up}#{$divider}#{$clear-fix}{
		clear: both;
	}
	.#{$medium}#{$divider}#{$clear-fix}, .#{$small}#{$divider}#{$clear-fix}{
		clear: none;
	}
}